body 
{
    background-color: black;
    background-image: url("BodyBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
}

#powerArmor
{
    background-color: black;
    background-image: url("titleImage.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center; 
    height: 16rem;
    border-radius: 1rem;

}

#nav {
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #061733;
    text-align: center;
    width: 60%;
    position: fixed;
    font-style: normal;
    margin-left:20%;
    margin-right:20%;
    box-shadow: 0 0.5rem #06173355;
    z-index: 1;
}

#nav  li
{
    padding: 0rem;
}

footer
{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
    margin-bottom: 0.5rem;
    margin-left:20%;
    margin-right:20%;
    background-color: #2d3f5e;
}

#footer
{
    color: white;
    min-height: 3rem;
    overflow: auto;
}

#footer p:nth-child(1)
{
    display: inline-block;
    width: 50%;
    float: left;
}

#footer p:nth-child(2)
{
        display: inline-block;
    width: 50%;
    float: right;
}

#nav li {
    display: inline-block;
    width: 8rem;
}

#page > h1, #page > p
{
    text-align: center;
}

#nav li a {
    display: block;
    color: #d8a406;
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-weight:  600;
    background-color: #061733;
    -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
    transition: background-color 0.5s, color 0.5s; 
}

a:link 
{
    color: #d8a406;
}

#triangle-up 
{ 
    float: right;
    width: 0; 
    height: 0; 
    border-left: 0.5rem solid transparent; 
    border-right: 0.5rem solid transparent; 
    border-bottom: 1rem solid #061733;
}

#toTop
{
    position: relative;
    float: right;
    width: 8rem;
    height: 2rem;
    line-height: 2rem;
    color: #061733FF;
    font-weight: 800;
    text-align: center;
    border-radius:1rem;
    margin-right: 1.5rem;
    background-color: #d8a406;
    margin-left: 100%;
}

.galery
{
    text-align: center;
}

.img {
    position: relative;
    display: inline-block;
    width:  auto;
    height: 16rem;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 1rem;
    background-size: cover;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
}

table, th, td {
    border-collapse:  collapse;
}

.settle th,td
{
    text-align: left;
}

th,td
{
    min-width: 8rem;
}

.weapons
{
    margin: 0 auto;
}

li
{
    padding: 1rem;
}

table tr:nth-child(odd),ul li:nth-child(odd)
{
    background-color: #2d3f5e;
}

table tr:nth-child(even),ul li:nth-child(even)
{
    background-color: #061733;
}

table tr:first-child
{
    background-color: #d8a406;
    color: black;
}

#e404
{
    text-align: center;
    font-size: 24rem;
    color: #d8a406;
}

.weapons th
{
    width: 10rem;
    height: 4rem;
}

section
{
    margin: 1.5rem;
    padding: 2rem;
    width: auto;
    border: 0.3rem solid #061733;
    background-color: transparent;
    border-radius: 1rem;
}

#nav li a:hover {
    background-color: #4a89f7;
    color: #000;
    text-shadow: 0 0 0rem #000;
}

article
{
    padding: 2rem;
    background-color: #061733;
    margin: 1.5rem;
    border-style: solid;
    border-width: 0 0 3px 0 ;
    border-color: #4a89f7;
    overflow: auto;
}

article:nth-child(odd)
{
    border-color: #d8a406;
}

section > h2
{
    padding-left: 2rem;
}

h3
{
    font-size: 1.2rem;
    float: left;
    font-size: 1rem;
    width: 75%;
    word-wrap: break-word;
}

h3:nth-child(2) {
    float: right;
    text-align: right;
    width: 25%;
}

#page
{
    overflow: auto;
    padding-top:5rem;
    padding-bottom:1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left:20%;
    margin-right:20%;
    background-color: #2d3f5e;
    color: lightgrey;
}

@media (max-width: 110rem) 
{
    #page
    {
        margin-left:5%;
        margin-right:5%;
    }  

    #nav
    {
        margin-left:5%;
        margin-right:5%;
        width: 90%;
    }  

    footer
    {
        margin-left:5%;
        margin-right:5%;
    }
}

@media (max-width: 80rem) 
{
    #nav li 
    {
        display: block;
        width: 100%;
    }

    section
    {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        border-width: 0;

    }

    article
    {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    #nav li a {
        width: 100%;
    }

    #nav {
        margin-left:0;
        margin-right:0;
        position: relative;
        width: 100%;
    }

    #page
    {
        padding-top:1rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        padding-bottom: 3.5rem;
        margin-left:0;
        margin-right:0;
        margin-bottom: 0;
    } 

    footer
    {
        margin-left:0;
        margin-right:0;
        margin-bottom: 0;
    }

    #toTop
    {
        position: absolute;
        right: 1rem;
    }

    .img {
        width:  75%;
        height: auto;
    }

}
