body 
{
    background-color: black;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d3d3d;
    text-align: center;
    width: 100%;
    position: fixed;
    font-style: italic;
}

article
{
    padding: 1rem;
    background-color: #333333;
    margin: 1rem;
}

article p
{
    padding-left: 2rem;
}

#nav li {
    display: inline-block;
}

#nav li a {
    display: inline-block;
    color: lightgrey;
    font-size: 2rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #111;
}

#page
{
    padding-top:5rem;
    padding-bottom:2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left:10%;
    margin-right:10%;
    background-color: #212121;
    color: lightgrey;
}

@media (max-width: 40rem) 
{
    #page
    {
    padding-top:1rem;
    margin-left:0;
    margin-right:0;
    }  
    
    #nav li 
    {
    display: block;
    }
    
    #nav li a {
    width: 100%;
}
    
    #nav {
    position: relative;
}
}
